body {
	background-color: #000000;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font: 0.75em "Roboto Mono";
}

.horizontal-div {
	background-color: #AAAAAA;
	float: left;
	width: 1px;
	height: 100%;
	margin-right: 3px;
}

.center-text {
	text-align: center;
}

.vertical-middle {
	vertical-align: middle;
}

.highlight {
	background-color: rgb(255, 255, 200);
}

.light {
	background-color: rgb(80, 80, 80);
}

.dark {
	background-color: rgb(60, 60, 60);
}

.darkest {
	background-color: black;
}

.editor {
	width: 100%;
	height: 100%;
}

.editor-background {
	background-color: rgb(253, 253, 255);
}

.source-line {
	width: 100%;
}

.editor-lines {
	float: left;
	width: 30px;
	height: 100%;
}

.line {
	width: 25px;
	margin-left: auto;
	margin-right: auto;
}

.editor-line-background {
	background-color: rgb(235, 235, 237);
}

.toolbar-nav {
	width: 100%;
	height: 30px;
}

.toolbar {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.toolbar-item {
	float: left;
	padding: 0px 15px 0px 15px;
	
	line-height: 30px;
}

.toolbar-item a {
	font-size: 1em;
	color: white;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

.toolbar-item:hover {
	background-color: rgb(80, 80, 80);
}

.toolbar-item:hover > .toolbar-subitem {
	display: block;
}

.toolbar-subitem {
	background-color: rgb(70, 70, 70);
	position: absolute;
	display: none;
	
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.toolbar-subitem .toolbar-item {
	float: none;
}